/* common shared google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700&family=Work+Sans:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
}  


body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* style header section */
/* style navbar section */
nav{
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  

}

.logo-container{
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-logo{
    width: 86px;
    height: 40px;
}

.logo-container img{
    object-fit:cover;
    margin-right: 20px;
}


.logo-container p{
    font-size: 30px;
    font-weight: 700;
}


.nav-title{
   color: #e60982;
   
}

.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 18px;
    color: #3C354F;
    font-weight: 600;
    margin-top: 10px;
    
}
.nav-items-container button{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: rgba(11, 2, 35, 0.10);
   border: 0;


}
.fa-brands{
    padding: 5px;
    
}
.btn-primary{
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/*  end style navbar section */

.banner-container{
    margin: 50px auto 0;
     max-width: 1200px;
    min-height: 50px;
    display: flex;
    background-image:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding: 8px;
    border-radius: 8px;
}

.banner-text{
    width: 50%;
    text-align: center;
     padding-top: 10%;
    background-image:url('images/Group\ 14.png');

}
.banner-img{
   width: 50%;
}
.banner-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.banner-text h2{
    margin: 10px auto;
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    }
.banner-text h1{
     margin: 5px;
     background-image: linear-gradient(180deg, #eb30a0 0%, #7747e9 100%);
     color: transparent;
     -webkit-background-clip: text;
     font-size: 75px;
     font-weight: 800;
     text-transform: uppercase;
}

.banner-text p{
    padding-left:28%;
    display: flex;
    text-align: center;
     font-size: 16px;
     align-items: center;

}
.banner-text button{
    margin:20px 10px 0 0;
 }
.banner-btn1{
   font-size: 20px; 
   font-weight: 600;
   color: #fff;
   padding: 15px 20px;
    border-radius: 30px;
    background: rgb(192, 24, 52);
    border: 0;
}

.banner-btn2{
    font-size: 17px; 
   font-weight: 600;
   color: #fff;
   padding: 15px 20px;
    border-radius: 30px;
    background: #4EC5F7;
    border: 0;
}
/* end banner section */



 /* style Online Games Funny Videos */

 .online-games-section{
    margin: 50px auto 0;
    max-width: 1200px;
 }
 .online-games-section h1{
    margin:10px auto;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    

 }
 .games-title{
    background-image: linear-gradient(180deg, #eb30a0 0%, #7747e9 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 48px;
 }
 .online-games-section p{
    margin-top: 10px;
    color: #756c8a;
     text-align: center;
     font-size: 18px;
      font-weight: 400;
 }  
 .games-img img{
    width: 100%;
   
 }
 .online-games-img-container{
    display: flex;
    justify-content: space-around;
    color: #4d0303;
    display: flex;
    gap: 10px;
    border-radius: 10px;
 }

 .titie1{
    font-size:10px ;
 }


/*end  style Online Games Funny Videos */


/* style start Play Instantly No Downloads No Installs */

.play-container{
    margin: 80px auto;
    max-width: 1200px;
    min-height:50px;
   
}
.playcontainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.play-content{
    width:40%;
    text-align: center;
    align-items: center;
}
.play-title{
    margin: 5px 0;
    
}
.play-content span{
    background-image: linear-gradient(180deg, #eb30a0 0%, #7747e9 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size:40px;
 }

 .play-container h3{
    font-size: 40px;
    font-weight: 800;
 }

 .play-paragraph{
    color: #756c8a;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.play-img{
    width: 50%;
    position: relative;
}

.inner-img .image2{
    width:40% ;
    height:30vh ;
     position: absolute;
    bottom: -50px;
    left: -120px ;

}

/*end  style Play Instantly No Downloads No Installs */

.main-container{
    margin:90px auto;
    max-width: 1200px;
    min-width: 50px;
  
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gaming{
    display: flex;
    padding:  20px;
    gap:20px
}
.zone-1{
display:flex;
 align-items: center;
width: 290px;
height:68px;
border-radius: 50px;
gap:10px;
}
.title-bar{
    font-size:15px;
}

.gaming-2{
    display: flex;
    padding: 20px;
    gap:40px
}
.zone-2{
    display:flex;
     align-items: center;
    width: 280px;
    height:68px;
    border-radius: 50px;
    gap:10px;
    }

.zone-1:hover{
    border:3px solid red;
}
.zone-2:hover{
    border:3px solid red;
}

.title-bar:hover{
    
    color:rgb(99, 5, 20);
}




/* style footer-section  */
.footer-section{
    max-width:1600px;
    min-height: 50px;
    background-color: #0B0223;
}


#title{
  color: #fff;
}
.footer-container{
    color:white;
    justify-self: center;
    text-align: center;
    padding: 20px;
}
.footer-title{
    padding-top: 60px;
    font-size: 40px;
    font-weight: 800;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
}

.story{
    padding-bottom:30px;
    gap: 30px;

}
.story span{
    padding: 25px;
}
.items4{
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-media img{
    width:40px;
    height: 30px;
    text-align: center;
    padding-bottom:12px;
}

.items4 span{
    padding: 30px;
}
.play{
    font-size: 12px;
    padding-bottom: 30px;
}




/* mobile device responsive */

@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
       padding-bottom: 20px;
    
    }

    
.nav-items-container{
    flex-direction: column;
    width: 100%;

}

.nav-items-container a{
    margin-top: 20px;
    
}
.nav-items-container .login-btn{

    width: 100%;
  
   margin-bottom: 20px;
}


/* banner responsive */

.banner-container{
   
   flex-direction: column-reverse;
}

.banner-text, .banner-img{
    
    width: 100%;
    

}

.banner-text h2{

    font-size: 30px;
    font-weight: 600;
    }
.banner-text h1{
     font-size: 60px;
     font-weight: 800;
     text-transform: uppercase;
}

.banner-text p{
     font-size: 12px;
     padding-left:24%;
}

.banner-text button{
    margin: 20px 5px;
 }
.banner-btn1{
   font-size: 16px; 
   font-weight: 400;
   padding: 12px 20px;
}

.banner-btn2{
    font-size: 16px; 
    font-weight: 400;
    padding: 12px 20px;
}

/* online game responsive */
.online-games-section h1{
   
    font-size: 30px;
    font-weight: 700;
    

 }
 .games-title{
    background-image: linear-gradient(180deg, #eb30a0 0%, #7747e9 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
 }
 .online-games-section p{

font-size: 16px;

 }

 .games-img img{
    width: 100%;
   
 }
 .online-games-img-container{
    flex-direction:column;
 }
  .titie1{
    font-size: 14px ;
 }
 



/*responsive Play Instantly No Downloads No Installs */
.playcontainer{
  flex-direction:column;

}

 .play-content{
    width:60%;

    
}
.play-paragraph{
 font-size: 20px;
}

.play-img,.image1{
    width: 80%;
 }
 
 .inner-img .image2{
     width:25% ;
     height:20vh ;
     position: absolute;
     bottom: -50px;
     left: -25px ;
 
 }
 /* responsive  footer-section  */
/* style footer-section  */
.footer-section{
    max-width:1600px;
    min-height: 50px;
    background-color: #0B0223;
   
}


#title{
  color: #fff;
}
.footer-container{
    flex-wrap:wrap;
    padding: 20px;
}

div >ul {
    font-size:20px;
   flex-wrap: wrap;

}

/* div li{
    padding: 30px;
    
} */

.items{
    padding: 30px;
}

span .play{
    font-size: 10px;
    padding-bottom: 20px;
    padding:20px;
}

#part2::before{
    content: "\a";
    white-space: pre;
  
}




}





    /* medium screen or tab device responsive */

@media screen and (min-width:576px) and (max-width:992px){
    .nav-container{

       width: 100%;
       
      
    }
    .nav-items-container{
        width: 60%;
    }

  /* banner section responsive */
  .banner-container{
   
    flex-direction: column-reverse;
 }
 
 .banner-text, .banner-img{
     
     width: 100%;
     
 
 }
 
 .banner-text h2{
 
     font-size: 50px;
     font-weight: 700;
     }
 .banner-text h1{
      font-size: 102px;
      font-weight: 800;
      text-transform: uppercase;
 }
 
 .banner-text p{
      font-size: 20px;
      padding-left:32%;
 }
 
 .banner-text button{
     margin: 20px 20px;
  }
 .banner-btn1{
    font-size: 20px; 
    font-weight: 600;
    padding: 20px 45px;
 }
 
 .banner-btn2{
    font-size: 20px; 
    font-weight: 600;
    padding: 20px 45px;
 }
 
/* online game responsive */
.online-games-section h1{
   
    font-size: 35px;
    font-weight: 700;
    

 }
 .games-title{
    background-image: linear-gradient(180deg, #eb30a0 0%, #7747e9 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 35px;
 }
 .online-games-section p{

      font-size: 16px;

 }

 .games-img img{
    width: 100%;
   
 }
 .online-games-img-container{
    flex-direction:column;
    align-items: center ;
 }
  .titie1{
    font-size: 14px ;
 }

 .playcontainer{
    margin:30px 40px;
    flex-direction:column;
    padding: 40px;
  
  }
 .play-content{
      width:80%;
      text-align: center;
      justify-content: center;
      align-items: center;
  
 }
.play-img,.image1{
      width:90%;
      align-items: center;
   }
   
   .inner-img .image2{
       width:30% ;
       height:30vh ;
        position: absolute;
        bottom: -50px;
       left: -50px ;
   
   } 

   

.footer-container{

    padding: 20px;
}
.footer-title{
    gap:10px
}
 }
